<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VitalBox{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/logo.PNG') }}">
</head>
<body>
  <div class="contenedor">
    {% include 'includes/header.html' %}
    
    {% include 'includes/navbar.html' %}
    
    <main>
      {% block content %}
      {% endblock %}
    </main>
    
    {% include 'includes/aside.html' %}
    
    {% include 'includes/footer.html' %}
  </div>
  
  <script src="{{ url_for('static', filename='js/validacion.js') }}"></script>
</body>
</html>
