<aside class="video">
  <video width="100%" controls>
    <source src="{{ url_for('static', filename='assets/BBC.mp4') }}" type="video/mp4">
  </video>
  <p><cite>Video cortesia de</cite>
  <a href="https://www.youtube.com/watch?v=iHw8SPvlPnM" target="_parent">El experimento de la BBC sobre los efectos de los alimentos ultraprocesados</a>
  </p>
  
  <table class="tabla">
    <colgroup>
      <col style="width: 25%;">
      <col style="width: 60%;">
      <col style="width: 15%;">
    </colgroup>
    <tr>
      <th>Producto 🥗</th>
      <th>Descripcion 📄</th>
      <th>Precio 💰</th>
    </tr>
    <tr>
      <td>Ensalada Vital</td>
      <td>Mezcla de hojas verdes, quinoa, aguacate y vinagreta de limón</td>
      <td>$7</td>
    </tr>
    <tr>
      <td>Pollo al curry</td>
      <td>Pollo cocido en leche de coco con especias naturales y arroz integral</td>
      <td>$9</td>
    </tr>
    <tr>
      <td>Batido energético</td>
      <td>Banano, avena, leche de almendras y proteína vegetal</td>
      <td>$5</td>
    </tr>
  </table>
  
  <ul class="lista">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
  </ul>
</aside>
